doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title TwiLabs - Advanced Web and Mobile Apps Development.
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/animate.min.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/creative.css', type='text/css')
  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='#page-top') TwiLabs
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='#about') About
            li
              a.page-scroll(href='#services') Services
            li
              a.page-scroll(href='#portfolio') Portfolio
            li
              a.page-scroll(href='contact') Contact
    header
      .header-content
        .header-content-inner
          h2  Premier Software Development Company. Advanced Web and Mobile Application Development.
          hr
          p
            | We deliver software solutions that excel in high-complexity environments to achieve challenging business objectives.
          a.btn.btn-primary.btn-xl.page-scroll(href='#about') Find Out More
    section#about.bg-primary
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading We create stunning websites
            hr.light
            p.text-faded
              | TwiLabs is a web development company with extensive experience in building web applications. Our dedicated web apps developers have successfully completed over 400 projects for a variety of industries and business domains, including e-Commerce, e-Learning, Analytics, Finance, Entertainment and more.
            a.btn.btn-default.btn-xl(href='#') Get Started!
    section#services
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading At Your Service
            hr.primary
      .container
        .row
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-desktop.wow.bounceIn.text-primary
              h3 Custom Web Application Development
              p.text-muted We create web applications tailored exactly to your business needs. we build a custom web app from scratch, migrate your legacy backend and streamline existing front-end functionality, we can accomplish that in an efficient and cost-effective manner.
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-cloud.wow.bounceIn.text-primary(data-wow-delay='.1s')
              h3 Cloud based Development
              p.text-muted Cloud computing allows tapping into a pool of resources (including networking, storage, etc.) to quickly scale up as the number of users grows. We are experts at building complex cloud solutions that are highly scalable, optimized for performance, and secure.
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
              h3 Mobile-Friendly Website Development
              p.text-muted The pervasive nature of portable devices make mobile web design a necessity. Our team of usabilty experts, graphic designers, and veteran front-end professionals will make sure your website looks and works great — no matter the screen size or resolution.
          .col-lg-3.col-md-6.text-center
            .service-box
              i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
              h3 Startup Software Development
              p.text-muted Want to take the industry by storm? If so, we are your reliable tech partner with a wealth of experience in helping startups. Our engagement model and low-risk approach will help reduce time to market, optimize your budget, and ensure 100% IPR protection of your code.
    section#portfolio.no-padding
      .container-fluid
        .row.no-gutter
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='images/portfolio/1.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Custom Software Development
                  .project-name
                    | We offer a full range of custom software development services for a wide variety of verticals and business domains.
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='images/portfolio/2.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Mobile Application Development
                  .project-name
                    | We create wide range of mobile apps from B2C applications to heavy enterprise-grade mobile solutions that automate mission-critical business processes.
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='images/portfolio/3.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Web Application Development
                  .project-name
                    | We have extensive experience in web application development and have variety of industries like e-Commerce, Analytics, Finance, Entertainment and more.
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='images/portfolio/4.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Software Testing and QA services
                  .project-name
                    | Our services include Security Testing, UX and Usability Testing, Load and Performance Testing, Mobile Applictaion Testing and other aspects of testing.
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='images/portfolio/5.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Support and Maintenance
                  .project-name
                    |  Emergency fixes, platform monitoring and 24/7 software technical support, application deployment, monitoring, troubleshooting and planned upgrade.
          .col-lg-4.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='images/portfolio/6.jpg', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    | Cloud Services
                  .project-name
                    | We provide and maintain variety of cost effective cloud solutions for your business applications. We ensure high availability with almost no glitches.
    aside.bg-dark
      .container.text-center
        .call-to-action
          h2 Contact now for free consultation.
          a.btn.btn-default.btn-xl.wow.tada(href='contact') Contact Now
    section#contact
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Let's Get In Touch!
            hr.primary
            p
              | Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
          .col-lg-4.col-lg-offset-2.text-center
            i.fa.fa-phone.fa-3x.wow.bounceIn
            p +91-9108156955
          .col-lg-4.text-center
            i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
            p
              a(href='contact') Contact Twilabs Now
    script(src='javascripts/jquery.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/jquery.easing.min.js')
    script(src='javascripts/jquery.fittext.js')
    script(src='javascripts/wow.min.js')
    script(src='javascripts/creative.js')
